@import "./variables.css";

* { box-sizing: border-box; }
html, body, #root { height: 100%; }
body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: JetBrains Mono, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, "Noto Sans", "Helvetica Neue", Arial;
}

.main-content {
  margin-left: 72px;
  padding: 24px;
  transition: margin 300ms ease;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    margin-bottom: 80px;
    padding: 16px;
  }
}
